<template>
    <div class='col-md-9' >
      <h1 class="mb-4">Добавить статью</h1>
      <add-article 
        @create="createArticle"
      />
    </div>

  </template>
  
  <script>
  import AddArticle from '@/components/AddArticle.vue';
  import {mapState, mapActions, mapMutations} from 'vuex';
  
  export default {
    components: {
      AddArticle,
    },
  
    data(){

    },
    methods: {
      createArticle(article){
          this.postArticle(article);
      },
      ...mapMutations({
        setArticles: 'article/setArticles'
      }),
      ...mapActions({
        postArticle: 'article/postArticle',
      }),
    },
    computed: {
      ...mapState({
        articles: state => state.article.articles,
      })
    },
    mounted() {
    },
    watch:{

    }
  }
  
  </script>
  
  <style>
    
  </style>
  