<template>
  <div class="col-md-9">
    <div class="card-header">
     <h2 class="card-title">{{article.title}}</h2>
     <h4 class="card-subtitle mb-2 text-muted">{{article.category}}</h4>
    </div>
    <div class="card-body">
      <p class="card-text">{{article.content}}</p>
    <hr />
      Создано: {{(new Date(article.created_at)).toLocaleString("ru", {
         year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric',}) }}
    </div>
</div>

</template>
<script>
import {mapState, mapActions} from 'vuex'

export default {
  data(){
    return{

    }
  },
  methods: {
    ...mapActions({
      fetchArticleItem: 'article/fetchArticleItem',
    }),
  },
  mounted() {
    console.log(this.$route.params.id)
    this.fetchArticleItem(this.$route.params.id);
  },
  computed: {
    ...mapState({
      article: state => state.article.articleItem,
    }),
   
   
 },
 watch:{
 }
}  
</script>

<style>
  .card-text{
    word-wrap: break-word;
  }
</style>