<template>
<div class='col-md-9'>

      <h1 lass="mb-4" >Список статей</h1>
      <article-list 
        :articles="articles" 
        v-if="!isLoading"
      />
      <div v-else>
        Загрузка постов.....
      </div>

      <nav aria-label="..." v-if="$store.state.article.totalPages > 1">
      <ul class="pagination">
        <li
          v-for="pageNumber in totalPages"
          :key="pageNumber"
          :class="{
            'page-item active': page === pageNumber,
            'page-item': page != pageNumber
          }"
          
        >
          <a class="page-link" @click="setPage(pageNumber)">{{ pageNumber }}</a>
        </li>
      </ul>
    </nav>
    </div>

    

  </template>
  
  <script>
  import ArticleList from '@/components/ArticleList.vue'
  import {mapState, mapGetters, mapActions, mapMutations} from 'vuex'

  
  export default {
    components: {
      ArticleList
    },
  
    data(){
      return {
      }
    },
    methods: {
      ...mapMutations({
        setPage: 'article/setPage'
      }),
      ...mapActions({
        fetchArticles: 'article/fetchArticles',
      }),
    },
    mounted() {
      this.fetchArticles();
    },
    computed: {
      ...mapState({
        articles: state => state.article.articles,
        isLoading: state => state.article.isLoading,
        page: state => state.article.page,
        limit: state => state.article.limit,
        totalPages: state => state.article.totalPages,
      }),
    },
    watch:{
      page(){
        this.fetchArticles();
      }
    }
  }
  
  </script>
  
  <style>
    
  </style>
  