<template>
    <login-form></login-form>
    <oauth></oauth>
</template>
  
<script>
import LoginForm from '@/components/LoginForm'
import Oauth from '@/components/Oauth'

export default {
    components: {LoginForm, Oauth}
}

</script>
   

<style>

</style>
