<template>
    <div class="container">
        <div class="">
            <h1>
                Описане Bzm_Blog
            </h1>
                <p> Личный блог со статьями и заметками. </p>

                <p>Развиваясь в области Computer Science и Data science всё больше и больше появляется "рецептов", заметок, статей которые я создаю и сохраняю у себя локально на ноутбуке. Данный формат неудобен, так как не везде и не всегда у меня есть доступ к этим файлам.
                </p>
                <p>Также я столкнулся с проблемой, что делиться своими наработками неудобно. Мои коллеги нередко обращаются ко мне за помощью, мне бывает проще скинуть материалы, которые полностью или частично решают проблему, если данные материалы были бы в открытом доступе, то делиться было бы проще.
                </p>
                    <p>Ещё возникает вопрос - почему этот сайт будет полезен не только для меня? Чем глубже я начинаю изучать какой-либо инструмент, тем меньше становится простых материалов, которые решают задачи, возникающие по мере применения/изучения инструментов, приходится читать тысячи строк документации, чтобы решать поставленные проблемы, я очень благодарен людям, которые ведут собственные блоги по программированию, так как они действительно помогают разобраться в решении возникающих задач. Поэтому мой сайт будет решать подобную проблему - помогать программистам, DevOps инженерам, начинающим системным архитекторам в изучении инструментов и решении конкретных задач.
                    </p>
                   
        </div>
        <div>
        <h2 lass="mb-4" >Список страниц</h2>
        <ul>
            <li><router-link to="">Главная страница</router-link></li>
            <li><router-link to="/AddArticlePage">Добавить статью</router-link></li>
            <li><router-link to="/article/1">Конкретная статья</router-link></li>
            <li><router-link to="articles">Список статей</router-link></li>
            <li><router-link to="signup">Регистрация</router-link></li>
            <li><router-link to="login">Вход</router-link></li>
            <li><router-link to="callback">callback для Oauth</router-link></li>
        </ul>
    </div>
    </div>
</template>

<script>

</script>

<style>

</style>
  