<template>
    <div class='col-md-9'>
        <h1>Sign Up</h1>
        <form @submit.prevent="submitForm">
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" name="username" v-model="username" placeholder="Enter username"> 
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Пароль</label>
                <input class="form-control" type="password" name="password" v-model="password" placeholder="Password">
            </div>
            <button class="btn btn-primary" type="sumbit">Зарегестрироваться </button>
        </form>
    </div>
    <Oauth></Oauth>
    

</template>
  

<script>
import axios  from 'axios'
import Oauth from '@/components/Oauth'


export default {
    components: {Oauth},
    data(){
        return{
            username: '',
            password: '',
            email: ''
        }
    },
    methods: {
        submitForm(e){
        const formData = {
            username: this.username,
            password: this.password,
            email: this.username
        }
        axios
            .post('token_auth/users/', formData)
            .then(response => {
                this.$router.push('/login');
            })
            .catch(e => {
                console.log(e.response.data)
            })
        },
    },
    
}

</script>
   

<style>

</style>
