<template>
<form @submit.prevent>

    <div class="mb-3">
        <input 
            v-model.trim="article.title"
            @input="article.title = $event.target.value"
            class="form-control" 
            type="text" 
            placeholder="Заголовок"
        >
    </div>

    <!-- <div class="mb-3">
        <input 
            v-model.trim="article.title"
            @input="article.title = $event.target.value"
            class="form-control" 
            type="text" 
            placeholder="Категория"
        >
    </div> -->

    <div class="mb-3">
        <textarea 
            class="form-control" 
            type="text" 
            placeholder="Текст"
            v-bind:value="article.content"
            @input="article.content = $event.target.value"
    
        >
        </textarea>
    </div>

    <div class="form-group form-check">
        <input 
            v-bind:checked="article.is_published"
            @input="article.is_published = $event.target.checked"
            class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
            >
        <label class="form-check-label" for="flexCheckDefault">
            Опубликовать?
        </label>
    </div>

    <button @click="createArticle" class='btn btn-primary' > Добвить статью </button>
    </form>
</template>

<script>

export default {
    data(){
        return{
            article: {
            title: "", 
            content: "", 
            created_at: "12.12.12",
            updated_at: "13.12.12",
            is_published: true,
            category: 3
            },
        }
    },
    methods: {
        createArticle() {
            this.article.created_at = Date.now();
            this.article.updated_at = Date.now();
            this.$emit('create', this.article);
            this.article = {
                title: "", 
                content: "",
                is_published: true 
            }

        },
    }
}
</script>

<style>

</style>