<template>
    <div v-if="articles.length > 0" class="" >
        <article-item  
            v-for="article in articles"
            :article="article"
        />
    </div>
    <div v-else>
        <h2>Статей нет</h2>
    </div>
</template>

<script>

import ArticleItem from '@/components/ArticleItem.vue'
export default {
    components: { ArticleItem },
    props: {
        articles: {
            type: Array,
            required: true
        }
    }
}

</script>

<style scoped>



</style>

