<template>
  <div class="card">
    <div class="card-header"> 
      <h8 class="card-subtitle mb-0 text-muted"> Категория {{article.category}}</h8>
      
    </div>
    <div class="card-body">
      <h2 class="card-title mb-2">{{article.title}}</h2>
      <p class="card-text">{{article.content}}</p>
      <button @click="readMore(this.article.pk)" class="float-sm-right btn btn-primary">Читать...</button>
    </div>
    <div class="card-footer text-muted">
      {{ (new Date(article.created_at)).toLocaleString("ru", {
         year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric',}) }}
    </div>
</div>
  <br/>
</template>
<script>
import {mapActions, mapMutations} from 'vuex'
export default {

    props: {
        article: {
            type: Object,
            required: true,
        }
    },
    methods: {
      ...mapMutations({
        setArticleItemId: 'article/setArticleItemId'
      }),
      ...mapActions({
        fetchArticleItem: 'article/fetchArticleItem',
      }),
      readMore(id){
        this.setArticleItemId(id);
        this.fetchArticleItem(id);
        this.$router.push(`/article/${id}`);
      },
      
    }
}
</script>

<style scoped>
  .card-text {
  height: 90px;
  padding: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
</style>
