<template>
        <div class='col-md-9'>
        <h1>Log in</h1>
        <form @submit.prevent="submitForm">
           
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" name="email" v-model="username" placeholder="Enter email"> 
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Пароль</label>
                <input class="form-control" type="password" name="password" v-model="password" placeholder="Password">
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="sumbit"> Войти </button>
            </div>
        </form>

    </div>
    
    </template>
    
    <script>
    import axios  from 'axios'

    export default {
        name: "LoginForm",
        data(){
        return{
            username: '',
            password: '',
        }
    },
    methods: {
        submitForm(e){
        const formData = {
            username: this.username,
            password: this.password
        }
        axios
            .post('token_auth/token/login', formData)
            .then(response => {
                const token = response.data.auth_token;

                this.$store.commit('auth/setToken', token);

                axios.defaults.headers.common['Authorization'] = 'Token ' + token;

                localStorage.setItem('auth/token', token);
                this.$router.push('/articles'); 
            })
            .catch(e => {
                console.log(e.response.data)
            })
        },
    },
    
        setup(){
            
        }
    }
    </script>
    
    <style>
    
    </style>
    