<template>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" @click="$router.push('/')">Bzm blog</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" v-if="state.isAuth">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" @click="$router.push('/')">Добавить статью</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" @click="$router.push('/')">Обратная связь</a>
          </li>
        </ul>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0" v-if="!state.isAuth">
          <li class="nav-item">
            <a class="nav-link disabled">Добавить статью</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Обратная связь</a>
          </li>
        </ul>
        <span class="navbar-text">
            <div v-if="state.isAuth">
                Добро пожаловать, {{userName}}  | <a href="#">Выйти</a>
            </div>
            <div v-else>
                <a href="#">Регистрация</a> | <a href="#">Войти</a> 
            </div>
        </span>
      </div>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" @click="$router.push('/')">Bzm blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mb-2 mb-lg-0" v-if="isAuth">
        <li class="nav-item">
            <a class="nav-link active" href="#" aria-current="page" @click="$router.push('/articles')">Список статей</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#" aria-current="page" @click="$router.push('/AddArticlePage')">Добавить статью</a>
        </li>
    </ul>

    <ul class="navbar-nav mr-auto" v-if="!isAuth">
        <li class="nav-item">
            <a class="nav-link disabled" href="#" aria-current="page">Список статей</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" aria-current="page">Добавить статью</a>
        </li>
    </ul>

    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul> -->
    <span class="navbar-text my-2 my-lg-0">
            <div v-if="isAuth">
                Добро пожаловать! | <a @click="logout" href="#">Выйти</a>
            </div>
            <div v-else>
                <a  @click="$router.push('/signup')" href="#">Регистрация</a> | <a @click="$router.push('/login')" href="#">Войти</a> 
            </div>
        </span>
  </div>
</nav>

</template>

<script>
import {mapState, mapGetters, mapActions, mapMutations} from 'vuex'
import axios from 'axios'

export default {
    
   methods: {
      ...mapMutations({
        removeToken: 'auth/removeToken',
      }),
      logout(){
        axios
            .post('token_auth/token/logout', {token: this.$store.state.auth.token,})
            .then(response => {
                console.log(response)
                this.removeToken();
                axios.defaults.headers.common['Authorization'] = '';
                this.$router.push('/logout')
            })
            .catch(e => {
                console.log(e)
            })
          },
    },
  computed: {
      ...mapState({
        isAuth: state => state.auth.isAuth,
      }),
    },

    
}

</script>