<template>
<div>
    <h1>THERE ARE LOGIN FORM</h1> 
    <div class="container">
    <div class="social-auth">
      <!-- Google OAuth -->
      <!-- <a :href="getGoogleUrl(from)" class="auth-btn google-auth">
        <img :src="GoogleLogo" alt="Google Logo" />
        <span>Google</span>
      </a> -->
      <!-- GitHub OAuth -->
      <a :href="getGitHubUrl(from)" class="auth-btn github-auth">
        <!-- <img :src="GitHubLogo" alt="GitHub Logo" /> -->
        <span>GitHub</span>
      </a>
    </div>
  </div>
    <br>
    <!-- <h1>Is init: {{ Vue3GoogleOauth.isInit }}</h1>
    <h1>Is Authorized: {{ Vue3GoogleOauth.isAuthorized }}</h1>
    <hr /> -->
    <h2>{{ user }}</h2>
    <!-- <button @click="handleSignIn" >Sign In</button>
    <button @click="handleSignOut">Sign Out</button> -->
    <!-- <GoogleSignInButton/> -->
    <!-- <button :disabled="!Vue3GoogleOauth.isInit || Vue3GoogleOauth.isAuthorized ">Sign In</button>
    <button :disabled="!Vue3GoogleOauth.isAuthorized">Sign Out</button> -->
</div>
</template>

<script>
// import GoogleLogo from '@/asserts/google.svg';
import GitHubLogo from '@/asserts/github.svg';
// import { getGoogleUrl } from '@/utils/getGoogleUrl';

const from = '/';

// import { inject } from 'vue';


// const callback = (response) => {
//   // This callback will be triggered when the user selects or login to
//   // his Google account from the popup
//   console.log("Handle the response", response)
// }

export default {
    data(){
        return{
            user: 'No user',
            from: '/',
        }
    },
    methods: { 
        getGitHubUrl(from) {
            const rootURl = 'https://github.com/login/oauth/authorize';
  
            const options = {
                client_id: '1628f001f7bc5ee97603',
                redirect_uri: 'http://127.0.0.1:8000/accounts/github/login/callback/',
                scope: 'user:email',
                state: from,
            };
  
    const qs = new URLSearchParams(options);
  
    return `${rootURl}?${qs.toString()}`;

        },
        async getGitHubOathToken(code){
            const rootUrl = 'https://github.com/login/oauth/access_token';
            const options = {
            client_id: '1628f001f7bc5ee97603',
            client_secret: '6b2927f2d32ffee1aca83ad9f809d269bf3dd0e6',
            code,
            };
            const queryString = qs.stringify(options);
            try {
                const { data } = await axios.post(`${rootUrl}?${queryString}`, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },});

                const decoded = qs.parse(data);

                return decoded;
            } catch (e) {
                throw Error(e);
            }
        },
        async getGithubUser(access_token){
            try {
            const { data } = await axios.get(
                'https://api.github.com/user',
                {
                headers: {
                    Authorization: `Bearer ${access_token}`,
                },
                }
            );

            return data;
            } catch (e) {
                throw Error(e);
            }
            },
            async comparePasswords(hashedPassword, candidatePassword) {
                return await bcrypt.compare(candidatePassword, hashedPassword);
            },
            async getGoogleCode(){
                const authCode = await this.$gAuth.getAuthCode();
                console.log(authCode);
                const response = await this.$http.post('http://127.0.0.1:8000/auth/google/', { code: authCode, redirect_uri: 'postmessage' });
                console.log(response);
                return null;
            }
        },
        
//         // async handleSignIn(){
//         //     try{
//         //         const googleUser = await this.$gAuth.signIn();
//         //         if(!googleUser){
//         //             return null;
//         //         }
//         //         this.user = googleUser.getBasicProfile().getEmail();
//         //     } catch (e){
//         //     console.log(e);
//         //     return null;
//         //     }
//         // },
//         // async handleSignOut(){
//         //     try{
//         //         await this.$gAuth.signOut();
//         //     } catch (e){
//         //     console.log(e);
//         //     return null;
//         //     }
//         // },
    // },
    setup(){
        
    }
}
</script>

<style>

</style>
