<template>
  <div class="app">
    


    <navbar></navbar>
    <div class="container mt-3">
      <div class="row">

    <router-view/>
      </div>
  </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
import axios from 'axios';
export default {
components:{
  Navbar,
},

  beforeCreate(){
    this.$store.commit('auth/initializeStore');

    const token = this.$store.state.auth.token;

    if(token){
      axios.defaults.headers.common['Authorization'] = "Token " + token;
    } else {
      axios.defaults.headers.common['Authorization'] = '';
    }
  }
}
</script>

<style>

</style>
  